services:
  db:
    image: postgres:16
    container_name: pr_review_db
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pr_review_db_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pr_review_app
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"

volumes:
  pr_review_db_data: